{% extends 'frontend.html.twig' %}

{% block bodyclass %}
survey
{% endblock %}

{% block title %}Survey - {{ question_detail.name }} | {{ project_title }}{% endblock %}

{% block body -%}

	<section class="content survey">
		<div class="row row-no-padding">
			
			<div class="col-sm-3 col-md-3 col-lg-3">
				<aside>
			      <div class="filter survey">
			      	<div class="tab-heading">Survey Questions</div>
			        <!-- Nav tabs -->
			        <div class="feedback-tab clearfix" style="">

			            <ul id="" class="nav nav-tabs" role="tablist">
			              <li role="presentation" class=""><a href="#livelihood" aria-controls="messages" role="tab" data-toggle="tab" value="">Livelihood</a></li>

			              <li role="presentation" class="active"><a href="#reconstruction" aria-controls="settings" role="tab" data-toggle="tab" value="">Reconstruction</a></li>

			              <li role="presentation" class=""><a href="#protection" aria-controls="messages" role="tab" data-toggle="tab" value="">Protection</a></li>

			            </ul>
			        </div>

			        <!-- Tab panes -->
			        <div class="tab-content">
			          <div role="tabpanel" class="tab-pane fade in" id="livelihood">
			              <div class="tab-content-wrap">
			              	Question list livelihood
			              </div>
			          </div>

			          <div role="tabpanel" class="tab-pane fade in active" id="reconstruction">
			              <div class="tab-content-wrap">
	                  	{# {{ dump(issue_questions) }} #}
			              	{% if issue_questions is not empty %}
			              	<ul>
			                  {% for question in issue_questions %}
			                  	{% if question.issueType.name == 'Reconstruction' %}
			                  	<li class="{% if question.id == question_detail.id %}current_page_item{% endif %}"><a href="{{ path( 'issue_show', {'id': question.id } ) }}">{{ question.name }}</a></li>
			                  	{% endif %}
			                  {% endfor %}
			                 </ul>
			              	{% endif %}
			              </div>
			          </div>

			          <div role="tabpanel" class="tab-pane fade in" id="protection">
			              <div class="tab-content-wrap">
			              	Question list protection
			              </div>
			          </div>
			        </div>
			      </div>
			  </aside>
			</div>

			<div class="col-sm-9 col-md-9 col-lg-9">
				<div class="page-title">
					{{ question_detail.name }}
				</div>

				<!-- main content -->
				<div class="main-content">
					<div class="wrapper clearfix"><!--wrapper remove or not-->
						<div class="s-box-module s-box-module-border">
							<div class="row nomargin">
								<div class="col-md-8">
									<div class="">
										<div class="s-box">
											<div>
												<h2>Key Findings in {{ date('2017-' ~ question_detail.keyFindingsMonth ~ '-01') | date ('F') }}
			              	  {# doesn't matter what ever year or day - we just need month #}</h2>
			              	</div>	

											<div>{{ question_detail.keyFindings | raw }}</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="s-box-right">
										<div class="s-box">
											{# loop here #}
											{% for qo in question_option %}									
												<div id="container-issue-question-{{ qo.id }}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>
												
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row nomargin">
							<div class="col-sm-12">
								{# map #}
								<div class="s-box">
									<div><h2>What are people saying?</h2></div>
									<div>						
				            <div id="map" class="theme-default">
				            </div>     
									</div>
								</div>
							</div>
						</div>

						<div class="row nomargin">
							<div class="col-md-6">
								<div class="s-box-left">
									<div class="s-box">
										{% for info in infographics %}
											<div class="infographics infographics-style-{{ info.type }}">
												{# <h2>District Highlights</h2>
												<div class="infographics-list">
													<span class="icon">ICON</span>
													<p>Text here</p>
												</div>
												<div class="infographics-list">
													<span class="icon">ICON</span>
													<p>Text here</p>
												</div> #}
											
												<h2>{{ info.name }}</h2>
												{% for opt in info.option %}
													<div class="infographics-list">
														<span class="icon">
															{{ opt.icon }}
															{% if info.type == 3 %}
																%
															{% endif %}
														</span>
														<p>{{ opt.description }}</p>
													</div>
												{% endfor %}
											
											</div>
											<div class="clear"></div>
										{% endfor %}
									</div>
								</div>
								

							</div>
							<div class="col-md-6">
								<div class="s-box">
									<div class="graphics">
										{% if question_detail.imageTitle != '' %}
											<h2>{{ question_detail.imageTitle }}</h2>
										{% endif %}

										{% if question_detail.imageUrl != '' %}
											<img src="/uploads/issue/img/{{ question_detail.imageUrl }}" class="img-responsive">
										{% endif %}									

										{% if question_detail.imageDesc != '' %}
											<p>{{ question_detail.imageDesc }}</p>
										{% endif %}

										{% if question_detail.imageCredit != '' %}
											<p>Photo credit: {{ question_detail.imageCredit }}</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>


						<div class="row nomargin">
							<div class="col-sm-12">
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				        <a href="{{ path('issuequestion_edit', { 'id': question_detail.id }) }}" class="edit-link edit-static">Edit This</a>
				        {% endif %}
							</div>
						</div>

					</div>
				</div><!-- /.main-content -->
			</div>
		</div>
	</section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/leaflet.css" rel="stylesheet">
    <link href="/css/custom_map.css" rel="stylesheet">
    {# custom.css for admin #}
{% endblock %}

{% block scriptIncludes %}

<script>
	$(document).ready(function() {
		var winWidth = $(window).width();

		   

		content_height();
	});
	$(window).resize(function() {
		content_height();
	});
	function content_height() {
		if(winWidth >= 768) {
			var winHeight = $(window).height();
			var content_height = winHeight - 100 - 40 - 42;
			$('.content, .main-content').css({'min-height': content_height+'px'});
		}
	}
</script>

    <script type="text/javascript">
        //change these variables
        var theme_color = "#ffffff";//#0099ff
        var border_color = "#ffffff";//#f7941e: orange
    </script>
    <script type="text/javascript" src="/js/leaflet.js"></script>
    <!--<script type="text/javascript" src="/js/issue_reconstruction.js"></script>-->
    <!--nepal-districts.js-->

    <script>
    	var question_id = {{ question_detail.id }};
    </script>
    <script type="text/javascript" src="/js/custom.js"></script>


    {# highcharts #}
    <script type="text/javascript">
    /*chartType: 1  => 'Circle Donut',
    2  => 'Semi circle donut',*/
    //loop here
    {% for qo in question_option %}    	
    	{% if qo.chartType == 1 %}
    		//chartType 1 = Circle Donut
		    Highcharts.chart('container-issue-question-{{ qo.id }}', {
		            chart: {
		                plotBackgroundColor: null,
		                plotBorderWidth: 0,
		                plotShadow: false
		            },
		            legend: {
		            	align: 'center'
		            },
		            title: {
		            		//issueChartQuestion here
		                text: '{{ qo.name }}',
		                // align: 'center',
		                // verticalAlign: 'middle',
		                y: 20
		            },
		            tooltip: {
		                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: {
		                pie: {
		                    dataLabels: {
		                        enabled: false
		                    },
		                    // startAngle: -90,//for half pie
		                    // endAngle: 90,
		                    center: ['50%', '50%'],
		                    showInLegend: true
		                }
		            },
		            series: [{
		                type: 'pie',
		                name: '',
		                innerSize: '40%',//50%
		                data: [
		                		//issueChartOption here
		                    
		                    /*['Water supply',   40],
		                    ['Schools',       20],
		                    ['Roads', 10],
		                    ['Hospitals / Health centre',     8]*/

		                		{% for opt in qo.option %}
													['{{ opt.name }}',   {{ opt.value }}],//issue/4 - ' quote issue
												{% endfor %}
		                ]
		            }]
		    });
		  {% elseif qo.chartType == 2 %}
		  	//chartType 2 = Semi Circle Donut
		    Highcharts.chart('container-issue-question-{{ qo.id }}', {
		            chart: {
		                plotBackgroundColor: null,
		                plotBorderWidth: 0,
		                plotShadow: false
		            },
		            legend: {
		            	align: 'center'
		            },
		            title: {
		            		//issueChartQuestion here
		                text: '{{ qo.name }}',
		                // align: 'center',
		                // verticalAlign: 'middle',
		                y: 20
		            },
		            tooltip: {
		                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: {
		                pie: {
		                    dataLabels: {
		                        enabled: false
		                    },
		                    
		                    startAngle: -90,//for half pie
		                    endAngle: 90,//for half pie

		                    center: ['50%', '50%'],
		                    showInLegend: true
		                }
		            },
		            series: [{
		                type: 'pie',
		                name: '',
		                innerSize: '40%',//50%
		                data: [
		                		//issueChartOption here
		                    
		                    /*['Water supply',   40],
		                    ['Schools',       20],
		                    ['Roads', 10],
		                    ['Hospitals / Health centre',     8]*/

		                		{% for opt in qo.option %}
													['{{ opt.name }}',   {{ opt.value }}],//issue/4 - ' quote issue
												{% endfor %}
		                ]
		            }]
		    });
	    {% endif %}
    {% endfor %}


    </script>
{% endblock %}