{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueType list</h1>

    <table class="{{records_list}}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Is homepage</th>
                {# <th>Chart Type</th> #}
                <th>Survey Number</th>
                <th>Survey Detail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for entity in entities %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.year != '' and entity.month != '' %}
                        {{ date(entity.year ~ '-' ~ entity.month ~ '-01') | date ('F Y') }}
                    {% endif %}
                </td>
                <td>{% if entity.isHomepage == 1 %}Yes{% else %}No{% endif %}</td>
                {# <td>{{ entity.chartType }}</td> #}
                <td>{{ entity.surveyNumber }}</td>
                <td>{{ entity.surveyDetail }}</td>
                <td>
                <ul>
                    <li class="show-link">
                        <a href="{{ path('issuetype_show', { 'id': entity.id }) }}" class="show">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issuetype_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issuetype_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
