{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueQuestion edit</h1>

    <p><a target="_blank" href="{{ path('issue_show', {'id': entity.id}) }}">View This Page</a></p>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('issuequestion') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <div class="edit-helper">
    <h2>Other Fields</h2>
    <p>Click to edit</p>

    <div class="m-b-30">
    <h3>Issue Chart Question Option</h3>
    {# <p><a href="{{ path('issuechartquestion_edit', {'id': step2_chartQuestion.id }) }}">{{ step2_chartQuestion.name }}</a></p> #}
    {% if question_option is not empty %}

        {% for qo in question_option %}
            {% if qo.name != '' %}
                <p><a target="_blank" href="{{ path('issuechartquestion_edit', {'id': qo.id }) }}"><strong>{{ qo.name }}</strong></a></p>
                <p><a target="_blank" href="{{ path('issuechartquestion_new', {'id': entity.id}) }}">Create more issue chart question</a></p>
            {% else %}
                {# <p><a target="_blank" href="{{ path('issuechartquestion_new') }}">Create new issue chart question</a></p> #}
            {% endif %}


            {% if qo.option is not empty %}
                <ul>
                {% for opt in qo.option %}
                <li>
                    <a target="_blank" href="{{ path('issuechartoption_edit', {'id': opt.id }) }}">{{ opt.name }} - {{ opt.value }}</a>

                    {# issuechartsuboption - for category chart only #}
                    {# question.chartType = 5 is Category - Bar #}
                    {% if qo.chartType == 5 %}
                        - <a target="_blank" href="{{ path('issuechartsuboption_new', {'id': opt.id}) }}">Create sub option</a>

                        {# if sub option is created #}
                        {% if opt.suboption is not empty %}
                            <ul>
                            {% for subopt in opt.suboption %}
                                <li><a href="">{{ subopt.name }} - {{ subopt.value }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
        
                <p><a target="_blank" href="{{ path('issuechartoption_new', {'id': qo.id}) }}">Create more issue option</a></p>
            {% else %}
                <p><a target="_blank" href="{{ path('issuechartoption_new', {'id': qo.id}) }}">Create new issue option</a></p>
            {% endif %}
            
        {% endfor %}
    {% else %}
        <p><a target="_blank" href="{{ path('issuechartquestion_new', {'id': entity.id}) }}">Create new chart question</a></p>
        {# <p><a target="_blank" href="{{ path('issuechartoption_new') }}">Create new chart option</a></p> #}
    {% endif %}
    </div>

    <div class="m-b-30">
    <h3>Infographics</h3>    
    {% if infographics is not empty %}
        {% for info in infographics %}
            <div class="infographics infographics-style-{{ info.type }}">        
                <p><strong><a target="_blank" href="{{ path('issueinfographicstitle_edit', {'id': info.id }) }}">{{ info.name }}</a></p></strong>
                
                <p><a target="_blank" href="{{ path('issueinfographicstitle_new', {'id': entity.id}) }}">Create new Infographics title</a></p>
                
                {% if info.option is not empty %}

                    <ul>
                    {% for opt in info.option %}
                        <li>
                            {% if opt.imageUrl != '' %}
                            <img src="/uploads/issue/infographics/{{ opt.imageUrl }}">
                            {% endif %}
                            <a target="_blank" href="{{ path('issueinfographics_edit', {'id': opt.id }) }}">{{ opt.description }}</a></li>
                    {% endfor %}

                        <li><a target="_blank" href="{{ path('issueinfographics_new', {'id': info.id}) }}">Create more Infographics</a></li>
                    </ul>

                    
                {% else %}
                    <p><a target="_blank" href="{{ path('issueinfographics_new', {'id': info.id}) }}">Create new Infographics</a></p>
                {% endif %}
            
            </div>
            <div class="clear"></div>
        {% endfor %}
    {% else %}
        <p><a target="_blank" href="{{ path('issueinfographicstitle_new', {'id': entity.id}) }}">Create new Infographics title</a></p>
        {# <p><a target="_blank" href="{{ path('issueinfographics_new') }}">Create new Infographics</a></p> #}
    {% endif %}
    </div>

    <div class="m-b-30">
    <h3>People Sayings</h3>
    {% if sayings is not empty %}
        <ul>
            {% for say in sayings %}
                <li><a target="_blank" href="{{ path('issuemapsayings_edit', {'id': say.id }) }}">{{ say.location }}, {{ say.district.name }}: {{ say.saying }}</a></li>
            {% endfor %}
            <li><a target="_blank" href="{{ path('issuemapsayings_new', {'id': entity.id}) }}">Create more</a></li>
        </ul>

        
    {% else %}
        <p><a target="_blank" href="{{ path('issuemapsayings_new', {'id': entity.id}) }}">Create new sayings</a></p>
    {% endif %}
    </div>


    {# <h2>Information</h2>
    <p>Places you need to add / update the content.</p>
    <ul>
        <li><a target="_blank" href="{{ path('issuechartquestion') }}">Issue Chart Question</a></li>
        <li><a href="{{ path('issuechartoption') }}">Issue Chart Option</a></li>

        <li><a href="{{ path('issuemapname') }}">Issue Map Name</a></li>
        <li><a href="{{ path('issuemapdistricts') }}">Issue Map Districts</a></li>
        <li><a href="{{ path('issuemapsayings') }}">Issue Map Sayings</a></li>
        
        <li><a href="{{ path('issueinfographicstitle') }}">Issue Infographics Title</a></li>
        <li><a href="{{ path('issueinfographics') }}">Issue Infographics</a></li>
    </ul> #}
    </div>
{% endblock %}



{% block scriptIncludes %}
<script>
$(document).ready(function() {
    ajax_request_response_issueType('#appbundle_issuequestion_issueType', '{{path('issuetype_detail' )}}')
  
});
</script>
{% endblock %}