{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueQuestion list</h1>

    <table class="{{records_list}}">
        <thead>
            <tr>
                <th>Id</th>
                <th>IssueType</th>
                <th>Name</th>
                {# <th>Keyfindingsmonth</th> #}
                {# <th>Keyfindings</th> #}
                <th>IssueMapName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for entity in entities %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ entity.issueType }} - {{ date( entity.issueType.year ~ '-' ~ entity.issueType.month ~ '-01' ) | date('F Y') }} </td>
                <td>{{ entity.name }}</td>
                {# <td>{{ date('2017-' ~ entity.keyFindingsMonth ~ '-01') | date('F') }}</td> #}
                {# <td>{{ entity.keyFindings }}</td> #}
                <td>{{ entity.issueMapName }}</td>
                <td>
                <ul>
                    <li class="show-link">
                        <a href="{{ path('issuequestion_show', { 'id': entity.id }) }}" class="show">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issuequestion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issuequestion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
