{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueQuestion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Keyfindingsmonth</th>
                <th>Keyfindings</th>
                <th>Infographicstitle</th>
                <th>Hrrp</th>
                <th>Districtid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('issuequestion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.keyFindingsMonth }}</td>
                <td>{{ entity.keyFindings }}</td>
                <td>{{ entity.infographicsTitle }}</td>
                <td>{{ entity.hrrp }}</td>
                <td>{{ entity.districtId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('issuequestion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issuequestion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issuequestion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
