{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="page-title">
        <h3>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <article id="content1" class="ck-title" contenteditable="true" onclick="onClickToolbarButton()">
                    {{ entity.title | raw}}
                </article>
            {% else %}
                {{ entity.title | raw}}
            {% endif %}
        </h3>
    </div>
    <section class="content img-cover relative" style="{% if entity.path != NULL %}background-image: url({{ entity.file_path }}{{ entity.path }});{% endif %}">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('page_edit', { 'slug': entity.slug }) }}" class="edit-link">Edit Featured Image</a>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="u-box c-box-info clearfix">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {# TODO: need to make link addable in location or text editable and add class ckeditor #}
                            <article id="content2" class="ckeditor" contenteditable="true">
                                {{ entity.description | raw }}
                            </article>
                            <input type="button" id="save" class="btn btn-bordered pull-right" value="Save">
                            <img id="loader" class="hide" src="/img/frontend/loading.GIF">
                        {% else %}
                            {{ entity.description | raw }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="u-box" id="contact-form">
                        <h3>Please send us a message with feedback or queries.</h3>

                        <form class="form-bordered" action="" method="post" autocomplete="off">
                          <div class="form-group">
                            <label for="inputName" class="control-label">Name *</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="">
                            <span class="required name-required">This field is required.</span>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress" class="control-label">Address *</label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="">
                            <span class="required address-required">This field is required.</span>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="control-label">Email *</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="">
                            <span class="required email-required">This field is required.</span>
                            <span class="required good-email-required">Please type valid email address.</span>
                          </div>
                          <div class="form-group">
                            <label for="inputPhone" class="control-label">Phone *</label>
                            <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="">
                            <span class="required phone-required">This field is required.</span>
                          </div>
                          <div class="form-group">
                            <label for="textMessage" class="control-label">Message *</label>
                            <textarea id="textMessage" name="message" class="form-control" cols="30" rows="10"></textarea>
                            <span class="required message-required">This field is required.</span>
                          </div>
                          <div class="form-group">
                            <!-- <label for="captcha1" class="control-label">Captcha *</label> -->
                            <p class="captcha-text">Please enter the letters you see below.</p>

                            <div class="captcha-img">
                              <div id="imgdiv"><img id="img" src="/captcha/captcha.php" /></div>
                              <span id="reload" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </div>
                            <!-- <img id="reload" src="/captcha/reload.png" /> -->

                            <input id="captcha1" class="form-control" name="captcha" type="text">

                            <span class="required captcha-required">This field is required.</span>
                            <span class="required good-captcha-required">Please type the correct captcha.</span>

                          </div>
                          <div class="form-group">
                            <!--<input type="submit" id="submit" class="btn btn-bordered" value="Submit">-->
                            <button type="button" id="submit" class="btn btn-bordered">Submit</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{%block scriptIncludes %}
<script>
//quick fix for hiding toolbar for title  
function onClickToolbarButton() {
    var bar = document.getElementById("cke_content1");//for #content1
    if(bar.style.display == "none"){
        bar.style.display = "none";//block - to show
    }else{
        bar.style.display = "none";
    }
}
</script>
<script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>
<script>

var i=0, j=0;
//$("#content1, #content2").keyup(function()
$('#save').click(function()
 {  
  var name = {id:{{ entity.id }}, title:$("#content1").html(), description:$("#content2").html()};//{{ entity.id }}
  i=i+1;
  $("#loader").removeClass("hide");
  $("#loader").addClass("show");
  console.log("Request Sent");
    $.post('{{path('page_show', {'slug': entity.slug} )}}',
        { data_id:name.id,data_title:name.title,data_description:name.description}, 
            function(response){ 
            j=j+1
                    if (j==i){
                        console.log("hidden");
                        $("#loader").removeClass("show");
                        $("#loader").addClass("hide");  
                    }
            }
    );

  //return false;
   
});
</script>

{% endblock %}
