{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueChartOverview edit</h1>
    {# <input type="text" id="issueTypeDetails" value="" /> #}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('issuechartoverview') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{# {{ dump(entity_issueType) }} #}
{% endblock %}


{% block scriptIncludes %}
<script>
$(document).ready(function() {

	$('#appbundle_issuechartoverview_issueType').change(function() {
		// $('#issueTypeDetails').html($(this).val());

		var name = { 
								id: $('#appbundle_issuechartoverview_issueType').val(),
								};//{{ entity.id }}
    
    $.post('{{path('issuechartoverview_edit', {'id': entity.id} )}}',//{{path('page')}} - path: /admin/page/home
        { 
        	data_id: name.id 
        }, 
        function (response) { 
        	// console.log("Request Sent");

        	// console.log(response);
        	$('#issueTypeDetails').val(response.result);

        	if(response.code == 100 && response.success){//dummy check
	        	if(result) {
		        	result = response.result;
		        	
		        	/*result.forEach(function(object) {
	                console.log(object);                
	            });*/

	        	}
	        }
        }
    );

  //return false;

  });
  
});
</script>
{% endblock %}