<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>
	<head>
		<title>{% block title %}Inter-Agency Common Feedback Project{% endblock %}</title>

		{% block stylesheets %}
		
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

			<link href="/css/bootstrap.min.css" rel="stylesheet">

      {# <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> #}

			<link href="/css/animate.css" rel="stylesheet">

      <link href="/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
      <link href="/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
      <link href="/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

			<link href="/LESS/style.6.less" rel="stylesheet/less">
      
      <link rel="stylesheet" type="text/css" href="/css/custom_issue.css">
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

		<link rel="image_src" type="image/jpeg" href="http://cfp.org.np/img/frontend/logo-share.png" /><!-- for facebook -->
		<meta property="og:image" content="http://cfp.org.np/img/frontend/logo-share.png" /> <!-- for linked in -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
    {# 
    to show better page after loading complete 
    - style="display: none;" 
    - but not on issue page - map won't be loading...
    #}
		<nav class="navbar navbar-default clearfix">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">
		      	<img src="/img/frontend/logo.png" alt="">
		      	<span class="logo-title">
		      		<span class="logo">Inter-Agency Common Feedback Project</span>
		      		<span class="logo-slogan">Nepal Earthquake 2015</span>
		      	</span>
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<style>
	@media (min-width: 768px) {
  	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,			    	
  	.dropdown-menu > li > a:hover {
  		color: #a1a1a1;
  	}
  	.dropdown-menu,
  	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
  	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  		background: #39383a;
  	}		    	
  	.dropdown-menu {
  		border-radius: 0;
  		box-shadow: none;
  		top: 45px;
  		min-width: 120px;
  	}
  	.dropdown-menu > li > a {
  		font-size: 14px !important;
  		font-weight: normal !important;
  		margin: 5px 15px;
  	}
  	.open .dropdown-menu {
  		display: block;
  	}
  	.navbar-default {
  		/* overflow: inherit; */
  	}

  	.navbar-default .navbar-collapse .navbar-nav > li {
  		margin-right: 15px;
  		padding-left: 15px;
  	}
  	.navbar-default .navbar-collapse .navbar-nav li {
  		margin-right: 15px;
  	}
	}
	</style>
  <ul class="nav navbar-nav">
    <li><a href="{{ path('issue') }}" class="{% if app.request.get('_route') == 'issue_show' %} active {% endif %}">Survey</a></li>
    <li class="dropdown">
    	<a href="{{ path('platform') }}" class="dropdown-toggle {% if (app.request.get('_route') == 'platform') or (app.request.get('_route') == 'set2') %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Platform</a>
    	<ul class="dropdown-menu">
    		<li><a href="{{ path('platform') }}">Phase 1</a></li>
    		<li><a href="{{ path('set2') }}">Phase 2</a></li>
    	</ul>
    </li>

    <li class="dropdown">
      <a href="{{ path('data') }}" class="dropdown-toggle {% if (app.request.get('_route') == 'data') or (app.request.get('_route') == 'data_show') or (app.request.get('_route') == 'data_show_phase2') %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data</a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('data') }}">Phase 1</a></li>
        <li><a href="{{ path( 'data_show_phase2', {'slug': 'round1-fsl'} ) }}">Phase 2</a></li>
      </ul>
    </li>
    <li><a href="{{ path('reports') }}" class="{% if app.request.get('_route') == 'reports' %} active {% endif %}">Reports</a></li>
    <li><a href="{{ path('contactus') }}" class="{% if app.request.get('_route') == 'contactus' %} active {% endif %}">Contact</a></li><!-- /contact -->
    <li><a href="/page/about" class="{% if app.request.get('_route') == 'show' %} active {% endif %}">About</a></li>
  </ul>
</div><!-- /.navbar-collapse -->



		  </div><!-- /.container-fluid -->
		</nav>
		<div class="clear"></div>

		{% block body %}

		{% endblock %}
		
		<footer>
			<div class="container-fluid">
				<div class="social-icons clearfix pull-left">
					<ul>
						<li class="facebook"><a href="https://www.facebook.com/NepalDRR/" target="_blank"></a></li>
						<li class="youtube"><a href="https://www.youtube.com/channel/UCya6Oazk4JAYa40X2GP-Feg" target="_blank"></a></li>
						<li class="flicker"><a href="https://www.flickr.com/photos/nepaldrr/" target="_blank"></a></li>
						<li class="twitter"><a href="https://twitter.com/nepaldrr" target="_blank"></a></li>
						<li class="wordpress"><a href="https://nepaldrr.wordpress.com/" target="_blank"></a></li>
					</ul>
				</div>

				<div class="footer-right">
					<a href="http://www.quakehelpdesk.org/">Quake Help Desk</a> &nbsp;|&nbsp; 
					<a href="http://www.quakehelpdesk.org/openmic.php">Quake Help Desk Open mic</a> &nbsp;|&nbsp; 
					<a href="http://www.cdacnetwork.org/">CDAC Network</a>
				</div>
			</div>
		</footer>

    {% block javascripts %}
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/less.min.js"></script>
    {# http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js #}

    <script src="/js/plugins/highcharts/highcharts.js"></script>
    <script src="/js/plugins/highcharts/data.js"></script>
    <script src="/js/plugins/highcharts/exporting.js"></script>
	<script src="/js/plugins/highcharts/export-csv.js"></script>
    <script src="/js/plugins/zelect/zelect.js"></script>

    
    <!-- Data Tables -->
    <script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/js/plugins/dataTables/dataTables.tableTools.min.js"></script>



    <!-- Jvectormap -->
    <script src="/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <script src="/js/frontend/custom.js"></script>
    <script src="/js/frontend/custom_issue.js"></script>
        <script>
  //Google Analytics commented for debugging
  /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72934138-1', 'auto');
  ga('send', 'pageview');*/

</script>
<script>
	//script at the bottom for hover dropdown
	$('ul.nav li.dropdown').hover(function() {
	  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
	}, function() {
	  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
	});
</script>
    
      {% javascripts '@AppBundle/Resources/public/js/*' filter='uglifyjs2' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}

    {% block scriptIncludes %}
    {% endblock %}

	</body>
</html>
