{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Page list</h1>

    <table class="records_list table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title | raw }}</td>
                <td>{{ entity.description | raw }}</td>
                <td>
                        <a href="{{ path('home_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-xs btn-success">Show</button></a>
                        <a href="{{ path('home_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-xs btn-info">Edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('home_new') }}">
                <button type="button" class="btn btn-xs btn-success">Create a new entry</button>
            </a>
    {% endblock %}
