{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueInfographicsTitle list</h1>

    <table class="{{records_list}}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name (Issue Question)</th>
                <th>Type</th>   
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% set i = 0 %}
        {% for entity in entities %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ entity.name }} ({{ entity.issueQuestion }})</td>
                <td>{{ entity.type }}</td>
                <td>
                <ul>
                    <li class="show-link">
                        <a href="{{ path('issueinfographicstitle_show', { 'id': entity.id }) }}" class="show">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issueinfographicstitle_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issueinfographicstitle_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
