{% extends 'frontend.html.twig' %}

{% block body %}
	<section class="content img-cover" style="{% if entity.path != NULL %}background-image: url({{ entity.file_path }}{{ entity.path }});{% endif %}">
		<div class="transparent-grd"></div>
		<div class="content-area relative">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {# <a href="{{ path('page_edit', { 'slug': entity.slug }) }}" class="edit-link">Edit Featured Image</a> #}
      {% endif %}
			<div class="container-fluid">
				{# <div class="row">
					<div class="col-lg-8">
						<div class="banner-caption">
						 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<div class="caption-head"><article id="content1" class="ckeditor" contenteditable="true">
	        						{{ entity.title | raw}}
	    						</article></div>
								<p><article id="content2" class="ckeditor" contenteditable="true">
	        						{{ entity.description | raw }}
	    						</article></p>
    						<input type="button" id="save" class="btn btn-bordered pull-right" value="Save">
						    
						 {% else %}
								<div class="caption-head">
	        						{{ entity.title | raw}}
	    						</div>
								<p>
	        						{{ entity.description | raw }}
	    						</p>
						 {% endif %}
						
							<a href="{{ path('platform') }}" class="btn btn-bordered">
								Go to Platform
							</a>
							<img id="loader" class="hide" src="img/frontend/loading.GIF">
						</div>
					</div>
				</div> #}

				{# survey #}
				<div class="homepage">
					{# chart #}
					<div class="u-box u-box-white">
						<h3>{{ issueType.year }}</h3>
					</div>
				</div>

				{# pull 4 news feed #}
				<div class="news-homepage clearfix">
					{% for entity in entities_news %}
						<div class="news-box-module">
							<div class="news-box-wrap">
								{% if entity.imageUrl != '' or entity.youtubeUrlEmbed != '' %}
									<div class="news-graphics">
										{% if '.mp3' in entity.imageUrl %}    	
											<div class="audio">
									    	<audio controls>
												  {# <source src="horse.ogg" type="audio/ogg"> #}
												  <source src="/uploads/issue/news/audio/{{ entity.imageUrl }}" type="audio/mpeg">
													Your browser does not support the audio element.
												</audio>
											</div>
								    {% elseif (('.jpeg' in entity.imageUrl) or ('.jpg' in entity.imageUrl) or ('.png' in entity.imageUrl)) %}
								    	<div class="img">
									    	<img src="/uploads/issue/news/img/{{ entity.imageUrl }}" width="200">
									    </div>
								    {% endif %}

								    {# {{ dump(entity) }} #}
								    {% if entity.youtubeUrlEmbed != '' %}
											<div class="video">
									    	<iframe width="200" height="130" src="{{ entity.youtubeUrlEmbed }}" frameborder="0" allowfullscreen></iframe>
									    </div>
								    {% endif %}
							    </div>
						  	{% endif %}
						    <div class="news-body">
						    	<h2 class="news-title">{{ entity.name }}</h2>
						    	{{ entity.description | raw }}

						    	<a href="{{ path('news_show', {'id': entity.id }) }}" class="readmore">Read More</a>
						    </div>
					    </div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scriptIncludes %}

<script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>

<script>
/*var i=0, j=0;
//$("#content1, #content2").keyup(function()
$('#save').click(function()
 {  
  var name = {id:{{ entity.id }}, title:$("#content1").html(), description:$("#content2").html()};
  i=i+1;
  $("#loader").removeClass("hide");
  $("#loader").addClass("show");
  //console.log("Request Sent");
	    $.post('{{path('page')}}',               
	        { data_id:name.id,data_title:name.title,data_description:name.description}, 
	            function(response){
	            	j=j+1
	            	if (j==i){
		            	//console.log("hidden");
						$("#loader").removeClass("show");
						$("#loader").addClass("hide");	
					}

	            }        
	    );
	    return false;
  });
*/

$(document).ready(function(){
	//equal height of news box
  equal_height('.news-homepage', '.news-box-module');  
  
  //img, audio, video height equal
  $('.audio, .video').height($('.img').height());
  
});
</script>

{% endblock %}
