{% extends 'frontend.html.twig' %}

{% block body %}
	<section class="content img-cover" style="{% if entity.path != NULL %}background-image: url({{ entity.file_path }}{{ entity.path }});{% endif %}">
		<div class="transparent-grd"></div>
		<div class="content-area relative">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {# <a href="{{ path('page_edit', { 'slug': entity.slug }) }}" class="edit-link">Edit Featured Image</a> #}
      {% endif %}
			<div class="container-fluid padding10">
				{# <div class="row">
					<div class="col-lg-8">
						<div class="banner-caption">
						 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<div class="caption-head"><article id="content1" class="ckeditor" contenteditable="true">
	        						{{ entity.title | raw}}
	    						</article></div>
								<p><article id="content2" class="ckeditor" contenteditable="true">
	        						{{ entity.description | raw }}
	    						</article></p>
    						<input type="button" id="save" class="btn btn-bordered pull-right" value="Save">
						    
						 {% else %}
								<div class="caption-head">
	        						{{ entity.title | raw}}
	    						</div>
								<p>
	        						{{ entity.description | raw }}
	    						</p>
						 {% endif %}
						
							<a href="{{ path('platform') }}" class="btn btn-bordered">
								Go to Platform
							</a>
							<img id="loader" class="hide" src="img/frontend/loading.GIF">
						</div>
					</div>
				</div> #}

				{# survey #}
				<div class="homepage-widget clearfix" style="">
					{# chart #}
					<div class="home-box pull-left" style="">
						<div class="u-box u-box-white">
							<h3>{{ date(issueType.year ~ '-' ~ issueType.month ~ '-01') | date ('F Y') }} Survey Overview</h3>
							
							{# chart #}
							<div id="container-homepage" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>
						</div>
					</div>
					<div class="home-box pull-left">
						<div class="h-col-25 pull-left">
							<div class="u-box u-box-white clearfix">
								<div class="surveyNumber">{{ issueType.surveyNumber }}</div>

								<div class="surveyDetail">{{ issueType.surveyDetail }}</div>

								<div class="surveyWomen">
									<div class="survey-women-icon">
										<img src="/img/frontend/icons/home-women.png">
									</div>
									{{ issueType.surveyWomen }}%
								</div>
								<div class="surveyMen">
									<div class="survey-men-icon">
										<img src="/img/frontend/icons/home-men.png">
									</div>
									{{ issueType.surveyMen }}%
								</div>
							</div>
						</div>
						<div class="h-col-75 pull-left">
							<div class="u-box u-box-white">
								{# pull 4 news feed #}
								<div class="news-homepage clearfix">
									{% set i = 0 %}
									{% for entity in entities_news %}
										{% set i = i + 1 %}

										{# show only two #}
										{% if i <= 2 %}
										<div class="news-box-module">
											<div class="news-box-wrap">
										    <div class="news-body">
										    	<h2 class="news-title">{{ entity.name }}</h2>
										    	{{ entity.description | raw }}

										    	<a href="{{ path('news_show', {'id': entity.id }) }}" class="readmore">Read More</a>
										    </div>
									    </div>
										</div>
										{% endif %}

									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>

				{# pull 4 news feed #}
				<div class="news-homepage clearfix">
					{% for entity in entities_news %}
						<div class="news-box-module">
							<div class="news-box-wrap">
								{% if entity.imageUrl != '' or entity.youtubeUrlEmbed != '' %}
									<div class="news-graphics">
										{% if '.mp3' in entity.imageUrl %}    	
											<div class="audio">
									    	<audio controls>
												  {# <source src="horse.ogg" type="audio/ogg"> #}
												  <source src="/uploads/issue/news/audio/{{ entity.imageUrl }}" type="audio/mpeg">
													Your browser does not support the audio element.
												</audio>
											</div>
								    {% elseif (('.jpeg' in entity.imageUrl) or ('.jpg' in entity.imageUrl) or ('.png' in entity.imageUrl)) %}
								    	<div class="img">
									    	<img src="/uploads/issue/news/img/{{ entity.imageUrl }}" width="200">
									    </div>
								    {% endif %}

								    {# {{ dump(entity) }} #}
								    {% if entity.youtubeUrlEmbed != '' %}
											<div class="video">
									    	<iframe width="200" height="130" src="{{ entity.youtubeUrlEmbed }}" frameborder="0" allowfullscreen></iframe>
									    </div>
								    {% endif %}
							    </div>
						  	{% endif %}
						    <div class="news-body">
						    	<h2 class="news-title">{{ entity.name }}</h2>
						    	{{ entity.description | raw }}

						    	<a href="{{ path('news_show', {'id': entity.id }) }}" class="readmore">Read More</a>
						    </div>
					    </div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scriptIncludes %}

<script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>

<script>
/*var i=0, j=0;
//$("#content1, #content2").keyup(function()
$('#save').click(function()
 {  
  var name = {id:{{ entity.id }}, title:$("#content1").html(), description:$("#content2").html()};
  i=i+1;
  $("#loader").removeClass("hide");
  $("#loader").addClass("show");
  //console.log("Request Sent");
	    $.post('{{path('page')}}',               
	        { data_id:name.id,data_title:name.title,data_description:name.description}, 
	            function(response){
	            	j=j+1
	            	if (j==i){
		            	//console.log("hidden");
						$("#loader").removeClass("show");
						$("#loader").addClass("hide");	
					}

	            }        
	    );
	    return false;
  });
*/

$(document).ready(function(){
	//equal height of news box
  equal_height('.news-homepage', '.news-box-module');  
  
  //img, audio, video height equal
  $('.audio, .video').height($('.img').height());
  
});


// according to chart type
{% if issueType.chartType == 1 %}
	//chartType 1 = Circle Donut

	//chartType = bar-basic
	Highcharts.chart('container-homepage', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ' '
    },
    subtitle: {
        text: ' '
    },
    xAxis: {
        categories: [
        						//'Africa', 'America', 'Asia', 'Europe', 'Oceania'
        						{% for opt in issueChartOverview %}
											'{{ opt.district.name }}',
										{% endfor %}
        						],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: ' ',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        // valueSuffix: ' millions'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [
	    //can be added more
	    {
	        name: ' ',
	        data: [
	        			//107, 31, 635, 203, 2
	        			107, 31, 635
	        			/*{% for opt in issueChartOverview %}
									'{{ opt.value }}',
								{% endfor %}*/
	        			]
	    }
    ]
	});
{% endif %}
</script>

{% endblock %}
