{% extends '::frontend.html.twig' %}
{% block bodyclass %}page-data{% endblock %}

{% block title %}Phase I | Community Perception Survey Report - Round 1 | {{ project_title }}{% endblock %}

{% block body -%}
    <div class="page-title">
        <h3><span class="red-bg">DATA</span></h3>
    </div>
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="">
            <div class="col-md-2 col-md-offset-1">
                <h3 style="margin-top: 22px;">Filter</h3>
                <form action="/data/filter" method="GET">
                    <div class="form-group">
                        <label for="">Year</label>
                        <select name="year" class="form-control" required>
                            <option value="">Select year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                
                
                    {#<div class="form-group">
                        <label for="">Month</label>
                        <select name="month" class="form-control">
                            <option value="">Select month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>#}

                    <button class="btn btn-primary">Filter</button>
                </form>    
            </div>

            <div class="col-md-8">
                <h3>To undertake the Community Perception Survey, 40 enumerators were trained over five days and deployed across the 14 priority earthquake affected districts to collect data over the course of 12 days from a total of 2100 respondents using a probability proportionate to size (PPS) methodology. All data collection is completed with mobile tablets using KoBoToolbox.</h3>
                {% for data in datas %}
                <div class="row">
                  <div class="col-sm-6 col-md-8">
                    <div class="thumbnail" style="min-height: 78px;">
                      <div class="caption">
                        <h3>{{ data.title }}</h3>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="/data_files/{{ data.file }}" download>
                          <div class="caption clearfix">
                            <i class="fa fa-download pull-left" style="margin-right: .3em;font-size: 30px;padding: 12px 8px 0px 8px;"></i>
                            <div class="pull-left">
                                <h3>Download data</h3>
                                <p style="margin:0;">XLS</p>
                            </div>

                          </div>
                        </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <ul class="share-icons share-data">
        <li><a href="#share" class="fa fa-share-alt"></a>
            <ul>        
                {# TODO: Need to change commonfeedback.org to dynamic url path if needed #}                   
                <li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//commonfeedback.org{{ path('data' )}}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20Round%206" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
                
                <li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+Round+6+http%3A//commonfeedback.org{{ path('data' )}}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//commonfeedback.org{{ path('data' )}}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20Round%206&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
            </ul>
        </li>
    </ul>
    
{% endblock %}

{% block extra_stylesheets %}
    <style>
        .thumbnnail {
            min-height: 75px;
        }
    </style>
{% endblock %}