{% extends '::frontend.html.twig' %}

{% block body -%}
    {# TODO: Need to add share button with functionality #}
    <div class="page-title">
        <h3>Community Perception Survey Report</h3>
        <div class="feedback-round">
            <div class="customSel">
                <label>
                    <select name="round" id="" onchange="if (this.value) window.location.href=this.value">
                        <option value="1">July</option>
                        <option value="2">August</option>
                        <option value="3">September</option>
                        <option value="4">October</option>
                        <option value="5">November</option>
                        <option value="6" selected="selected">December</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <table class="records_list table table-condensed table-hover table-striped dataTables">
        {# for round 6 #}
        {% set excludeColumns = {   } %}
        
        {% set count = 1  %}
        
        {% set numColumns = 10 %}
        
        {% for entity in fileInfo %}
            {% if count == 0 %}
                {% set count = 1 %}
            {% elseif count == 1 %}
        
            <thead>
                <tr>
                    {% set columncount = 0 %}
                    {% for val in entity %}
                        {% if columncount in excludeColumns %}
                    
                        {% else %}
                            <th>{{ val }}</a></th>
                        {% endif %}
                        {% set columncount = columncount + 1 %}
                    {% endfor %}
                    
                    
                    
                </tr>
            </thead>
            <tbody>
            {% set count = 2  %}
            
            {% else %}
            
                
            
                <tr>
                    {% set columncount = 0 %}
                    {% for val in entity %}
                        {% if columncount in excludeColumns %}
                    
                        {% else %}
                            <td>{{ val }}</td>
                        {% endif %}
                        {% set columncount = columncount + 1 %}
                    {% endfor %}
                </tr>
            
            {% endif %}
        {% endfor %}    
        </tbody>
    </table>
    
    <ul class="share-icons share-data">
        <li><a href="#share" class="fa fa-share-alt"></a>
            <ul>        
                {# TODO: Need to change commonfeedback.org to dynamic url path if needed #}                   
                <li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//commonfeedback.org{{ path('data' )}}&title=UNDP%20Report%3A%20Round%206" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
                
                <li><a href="http://twitter.com/intent/tweet?text=UNDP+Report%3A+Round+6+http%3A//commonfeedback.org{{ path('data' )}}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//commonfeedback.org{{ path('data' )}}&title=UNDP%20Report%3A%20Round%206&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
            </ul>
        </li>
    </ul>
        
    {% endblock %}
{% block scriptIncludes %}
<script>
        $(document).ready(function() {
            $('.dataTables').dataTable({
                //"autoWidth": false,
                "pageLength": 100,
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                },
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('.DTTT_button_xls span, .DTTT_button_csv span').html('Download');
        });

        
    </script>
{% endblock %}