{% extends '::frontend.html.twig' %}

{% block title %}News | {{ project_title }}{% endblock %}

{% block body -%}
	{# News #}
	<div class="news-page clearfix">
		{# {% dump(entities) %} #}
		{% set i = 0 %}
		{% for entity in entities %}
			
			<div class="news-box-module">
				<div class="news-box-wrap">
					{% if entity.imageUrl != '' or entity.youtubeUrlEmbed != '' %}
						<div class="news-graphics">
							{% if '.mp3' in entity.imageUrl %}    	
								{# <div class="audio">
						    	<audio controls>
									  <source src="/uploads/issue/news/audio/{{ entity.imageUrl }}" type="audio/mpeg">
										Your browser does not support the audio element.
									</audio>
								</div> #}
								
								{# first one should be 1 #}
								<div class="audio">
									<div id="jquery_jplayer_{% if i == 0 %}1{% else %}{{ entity.id }}{% endif %}" class="jp-jplayer"></div>
									<div id="jp_container_{% if i == 0 %}1{% else %}{{ entity.id }}{% endif %}" class="jp-audio" role="application" aria-label="media player">
										<div class="jp-type-single">
											
											<div class="jp-details">
												<div class="jp-title" aria-label="title">&nbsp;</div>
											</div>

											<div class="jp-volume-controls">
												<button class="jp-mute" role="button" tabindex="0">mute</button>
												<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
												<div class="jp-volume-bar">
													<div class="jp-volume-bar-value"></div>
												</div>
											</div>

											<div class="jp-gui jp-interface">
												<div class="jp-controls-holder">
													<div class="jp-controls">
														<button class="jp-play" role="button" tabindex="0">play</button>
														<button class="jp-stop" role="button" tabindex="0">stop</button>
													</div>
													<div class="jp-progress">
														<div class="jp-seek-bar">
															<div class="jp-play-bar"></div>
														</div>
													</div>
													<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
													<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
													<div class="jp-toggles">
														<button class="jp-repeat" role="button" tabindex="0">repeat</button>
													</div>
												</div>
											</div>
											
											<div class="jp-no-solution">
												<span>Update Required</span>
												To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
											</div>
										</div>
									</div>
								</div>
								{% set i = i + 1 %}
					    {% elseif (('.jpeg' in entity.imageUrl) or ('.jpg' in entity.imageUrl) or ('.png' in entity.imageUrl)) %}
					    	<div class="img" style="background-image: url( '/uploads/issue/news/img/{{ entity.imageUrl }}' )">
						    	<img src="/uploads/issue/news/img/{{ entity.imageUrl }}" width="100%" height="170px">
						    </div>
					    {% endif %}

					    {# {{ dump(entity) }} #}
					    {% if entity.youtubeUrlEmbed != '' %}
								<div class="video">
						    	<iframe width="200" height="130" src="{{ entity.youtubeUrlEmbed }}" frameborder="0" allowfullscreen></iframe>
						    </div>
					    {% endif %}
				    </div>
			  	{% endif %}
			    <div class="news-body">
			    	<h2 class="news-title"><a href="{{ path('news_show', {'slug': entity.slug }) }}" class="">{{ entity.name }}</a></h2>
			    	{# {{ entity.description | raw  }} #}
			    	<p>
			    	{% autoescape false %}
			    		{% set entity_description = entity.description|striptags|replace({'&nbsp;': ' '}) %}
			    		{{ entity_description|slice(0, 300)  }}
			    	{% endautoescape %}
			    	</p>

			    	<a href="{{ path('news_show', {'slug': entity.slug }) }}" class="readmore">Read More</a>
			    </div>
		    </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scriptIncludes %}
<script>
$(document).ready(function(){
	//equal height of news box
  equal_height('.news-page', '.news-box-module');  
  
  //img, audio, video height equal
  $('.audio, .video').height($('.img').height());
  

  //audio
  {% set i = 0 %}
  {% for entity in entities %}  	
  	{% if entity.imageUrl != '' or entity.youtubeUrlEmbed != '' %}
			{% if '.mp3' in entity.imageUrl %}    	
				{% if i == 0 %}
					jquery_jplayer('1', '{{ entity.audioName }}', '{{ entity.imageUrl }}' );

					{% set i = i + 1 %}
				{% else %}
					jquery_jplayer_other('{{ entity.id }}', '{{ entity.audioName }}', '{{ entity.imageUrl }}' );
				{% endif %}
			{% endif %}
		{% endif %}
  {% endfor %}
});



$(window).resize(function() {
  //to make equal height of tab on window resize
	//equal height of news box
  equal_height('.news-page', '.news-box-module');  
  
  //img, audio, video height equal
  $('.audio, .video').height($('.img').height());
});
</script>
{% endblock %}