{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Survey</h1>

    <table class="record_properties table table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Interviewer</th>
                <td>{{ entity.interviewer }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('M d, Y') }}</td>
            </tr>
            <tr>
                <th>Term</th>
                <td>{{ entity.term }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender }}</td>
            </tr>
            <tr>
                <th>Ethnicity</th>
                <td>{{ entity.ethnicity }}</td>
            </tr>
            <tr>
                <th>Occupation</th>
                <td>{{ entity.occupation }}</td>
            </tr>
            <tr>
                <th>Disability</th>
                <td>{% if entity.disability == 0 %}NO{% else %}YES{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('survey') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('survey_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
