{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueChartQuestion list</h1>

    <table class="{{records_list}}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Charttype</th>
                <th>IssueQuestion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('issuechartquestion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.chartType }}</td>
                <td>{{ entity.issueQuestion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('issuechartquestion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issuechartquestion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issuechartquestion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
