{% extends 'frontend.html.twig' %}

{% block title %}Reports | {{ project_title }}{% endblock %}

{% block body -%}

	<section class="content report">
		<div class="row row-no-padding">
			
			<div class="col-sm-3 col-md-3 col-lg-2">
				<aside>
			      <div class="filter">
			        <!-- Nav tabs -->
			        <div class="feedback-tab clearfix" style="">
			          <div class="tab-head">Year</div>

			            <ul id="" class="nav nav-tabs" role="tablist">
			              <li role="presentation" class="tab-2015"><a href="#round1" aria-controls="messages" role="tab" data-toggle="tab" value="2015">2015</a></li>
			              <li role="presentation" class="active tab-2016"><a href="#round2" aria-controls="settings" role="tab" data-toggle="tab" value="2016">2016</a></li>

			            </ul>
			        </div>

			        <!-- Tab panes -->
			        <div class="tab-content">
			          <div role="tabpanel" class="tab-pane fade in" id="round1">
			              <div class="tab-content-wrap">
			                  <div class="filter-title">Filter By</div>

			                  <div class="accordion">
			                          <form action="">
			                            <div class="ac ac-month">
			                              {# ac-1 #}
			                              <input class="ac-input" id="ac-1" name="ac-1" type="checkbox" />
			                              <label class="ac-label month-label" for="ac-1">Month</label>

			                              <ul id="month-wise-report" class="ac-text checkbox-style">          
																    	<li><input type="checkbox" id="monthall-2015" />
																				<label for="monthall-2015">All<span></span></label></li>
						                          <div class="form_months" id="form_months">             
																	    	<li><input type="checkbox" id="month07-2015" class="month 2015" />
																					<label for="month07-2015">July<span></span></label></li>
																	    	<li><input type="checkbox" id="month08-2015" class="month 2015" />
																					<label for="month08-2015">August<span></span></label></li>
																	    	<li><input type="checkbox" id="month09-2015" class="month 2015" />
																					<label for="month09-2015">September<span></span></label></li>
																	    	<li><input type="checkbox" id="month10-2015" class="month 2015" />
																					<label for="month10-2015">October<span></span></label></li>
																	    	<li><input type="checkbox" id="month11-2015" class="month 2015" />
																					<label for="month11-2015">November<span></span></label></li>
																	    	<li><input type="checkbox" id="month12-2015" class="month 2015" />
																					<label for="month12-2015">December<span></span></label></li>      
																	    </div>
						                      	</ul><!--/ac-text-->
			                            </div><!--/ac-->

							                    <div class="ac ac-district" style="display: none;">
							                      {# ac-2 #}
							                      <input class="ac-input" id="ac-2" name="ac-2" type="checkbox" />
							                      <label class="ac-label district-label" for="ac-2">District</label>

							                      <ul id="district-wise-report" class="ac-text checkbox-style">          
																	    	<li><input type="checkbox" id="districtall" checked="checked" />
																					<label for="districtall">All<span></span></label></li>
							                          <div class="form_districts" id="form_districts">                   
																		    	<li><input type="checkbox" id="district-Bhaktapur" class="district" checked="checked" />
																						<label for="district-Bhaktapur">Bhaktapur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Dhading" class="district" checked="checked" />
																						<label for="district-Dhading">Dhading<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Dolakha" class="district" checked="checked" />
																						<label for="district-Dolakha">Dolakha<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Gorkha" class="district" checked="checked" />
																						<label for="district-Gorkha">Gorkha<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Kathmandu" class="district" checked="checked" />
																						<label for="district-Kathmandu">Kathmandu<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Kavrepalanchowk" class="district" checked="checked" />
																						<label for="district-Kavrepalanchowk">Kavrepalanchowk<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Lalitpur" class="district" checked="checked" />
																						<label for="district-Lalitpur">Lalitpur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Makwanpur" class="district" checked="checked" />
																						<label for="district-Makwanpur">Makwanpur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Nuwakot" class="district" checked="checked" />
																						<label for="district-Nuwakot">Nuwakot<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Okhaldhunga" class="district" checked="checked" />
																						<label for="district-Okhaldhunga">Okhaldhunga<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Ramechhap" class="district" checked="checked" />
																						<label for="district-Ramechhap">Ramechhap<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Rasuwa" class="district" checked="checked" />
																						<label for="district-Rasuwa">Rasuwa<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Sindhuli" class="district" checked="checked" />
																						<label for="district-Sindhuli">Sindhuli<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Sindhupalchowk" class="district" checked="checked" />
																						<label for="district-Sindhupalchowk">Sindhupalchowk<span></span></label></li>
																		    </div>
							                      </ul><!--/ac-text-->
							                    </div><!--/ac-->


			                            <!--/ac-->
			                            <ul class="ac-text"></ul>
			                            <ul class="ac-text"></ul>
			                            <!-- <input type="submit" value="Submit" class="btn btn-bordered gray"> -->
			                        </form>

			                  </div><!--/accordion-->
			              </div>
			          </div>

			          <div role="tabpanel" class="tab-pane fade in active" id="round2">
			              <div class="tab-content-wrap">
			                  <div class="filter-title">Filter By</div>

			                  <div class="accordion">
			                          <form action="">
			                            <div class="ac ac-month">
			                              {# ac-3 #}
			                              <input class="ac-input" id="ac-3" name="ac-3" type="checkbox" />
			                              <label class="ac-label month-label" for="ac-3">Month</label>

			                              <ul id="month-wise-report" class="ac-text checkbox-style">          
																    	<li><input type="checkbox" id="monthall-2016" checked="checked" />
																				<label for="monthall-2016">All<span></span></label></li>
						                          <div class="form_months" id="form_months">             
																	    	<li><input type="checkbox" id="month01-2016" class="month 2016" checked="checked" />
																					<label for="month01-2016">January<span></span></label></li>
																	    	<li><input type="checkbox" id="month02-2016" class="month 2016" checked="checked" />
																					<label for="month02-2016">Feburary<span></span></label></li>
																	    	<li><input type="checkbox" id="month03-2016" class="month 2016" checked="checked" />
																					<label for="month03-2016">March<span></span></label></li>
																	    	<li><input type="checkbox" id="month04-2016" class="month 2016" checked="checked" />
																					<label for="month04-2016">April<span></span></label></li>
																	    	<li><input type="checkbox" id="month05-2016" class="month 2016" checked="checked" />
																					<label for="month05-2016">May<span></span></label></li>
																	    	<li><input type="checkbox" id="month06-2016" class="month 2016" checked="checked" />
																					<label for="month06-2016">June<span></span></label></li>

																	    	<li><input type="checkbox" id="month07-2016" class="month 2016" checked="checked" />
																					<label for="month07-2016">July<span></span></label></li>
																	    	<li><input type="checkbox" id="month08-2016" class="month 2016" checked="checked" />
																					<label for="month08-2016">August<span></span></label></li>
																	    	<li><input type="checkbox" id="month09-2016" class="month 2016" checked="checked" />
																					<label for="month09-2016">September<span></span></label></li>
																	    	<li><input type="checkbox" id="month10-2016" class="month 2016" checked="checked" />
																					<label for="month10-2016">October<span></span></label></li>
																	    	<li><input type="checkbox" id="month11-2016" class="month 2016" checked="checked" />
																					<label for="month11-2016">November<span></span></label></li>
																	    	<li><input type="checkbox" id="month12-2016" class="month 2016" checked="checked" />
																					<label for="month12-2016">December<span></span></label></li>      
																	    </div>
						                      	</ul><!--/ac-text-->
			                            </div><!--/ac-->

							                    <div class="ac ac-district" style="display: none;">
							                      {# ac-4 #}
							                      <input class="ac-input" id="ac-4" name="ac-4" type="checkbox" />
							                      <label class="ac-label district-label" for="ac-4">District</label>

							                      <ul id="district-wise-report" class="ac-text checkbox-style">          
																	    	<li><input type="checkbox" id="districtall" checked="checked" />
																					<label for="districtall">All<span></span></label></li>
							                          <div class="form_districts" id="form_districts">                   
																		    	<li><input type="checkbox" id="district-Bhaktapur" class="district" checked="checked" />
																						<label for="district-Bhaktapur">Bhaktapur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Dhading" class="district" checked="checked" />
																						<label for="district-Dhading">Dhading<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Dolakha" class="district" checked="checked" />
																						<label for="district-Dolakha">Dolakha<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Gorkha" class="district" checked="checked" />
																						<label for="district-Gorkha">Gorkha<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Kathmandu" class="district" checked="checked" />
																						<label for="district-Kathmandu">Kathmandu<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Kavrepalanchowk" class="district" checked="checked" />
																						<label for="district-Kavrepalanchowk">Kavrepalanchowk<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Lalitpur" class="district" checked="checked" />
																						<label for="district-Lalitpur">Lalitpur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Makwanpur" class="district" checked="checked" />
																						<label for="district-Makwanpur">Makwanpur<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Nuwakot" class="district" checked="checked" />
																						<label for="district-Nuwakot">Nuwakot<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Okhaldhunga" class="district" checked="checked" />
																						<label for="district-Okhaldhunga">Okhaldhunga<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Ramechhap" class="district" checked="checked" />
																						<label for="district-Ramechhap">Ramechhap<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Rasuwa" class="district" checked="checked" />
																						<label for="district-Rasuwa">Rasuwa<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Sindhuli" class="district" checked="checked" />
																						<label for="district-Sindhuli">Sindhuli<span></span></label></li>
																		    	<li><input type="checkbox" id="district-Sindhupalchowk" class="district" checked="checked" />
																						<label for="district-Sindhupalchowk">Sindhupalchowk<span></span></label></li>
																		    </div>
							                      </ul><!--/ac-text-->
							                    </div><!--/ac-->


			                            <!--/ac-->
			                            <ul class="ac-text"></ul>
			                            <ul class="ac-text"></ul>
			                            <!-- <input type="submit" value="Submit" class="btn btn-bordered gray"> -->
			                        </form>

			                  </div><!--/accordion-->
			              </div>
			          </div>
			        </div>
			      </div>
			  </aside>
			</div>

			<div class="col-sm-9 col-md-9 col-lg-10">
				<div class="has-tab">
					<div class="tab-col hidden-xs" style="padding-left: 0;">
						<div class="filter report-tab relative">
						<div class="feedback-tab">
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#national" class="national" aria-controls="national" role="tab" data-toggle="tab">National Reports</a></li>	    
						    <li role="presentation" class="dropdown district-text-parent">
							    <a class="district-text dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							      District Reports <!-- <span class="caret"></span> -->
							    </a>
							    <ul class="dropdown-menu">
							      <li role="presentation"><a href="#district" class="show-eng-text" aria-controls="district" role="tab" data-toggle="tab">English</a></li>
							      <li role="presentation"><a href="#district-nep" class="show-nep-text" aria-controls="district" role="tab" data-toggle="tab">Nepali</a></li>
							    </ul>
							  </li>
						    <li role="presentation"><a href="#issue" class="issue" aria-controls="issue" role="tab" data-toggle="tab">Issue in Focus Reports</a></li>						
						    <li role="presentation"><a href="#others" class="others" aria-controls="others" role="tab" data-toggle="tab">Others</a></li>
						  </ul>
						</div>

						<ul class="tab-view">
							<li class="show-grid-view"><a href="#!">Grid View</a></li>
							<li class="show-list-view"><a href="#!">List View</a></li>
						</ul>

						</div>
					</div>	
				</div>
				<!-- main content -->
				<div class="main-content">
					<div class="wrapper clearfix"><!--wrapper remove or not-->
						<div class="">
							<!-- <div class="report-item">
								<div class="r-box">
									<a href="#!" class="report-link"></a>
							
									<a href="#download" title="Download" class="icon download"></a>
									<a href="#share" title="Share" class="icon share"></a>
								</div>
							</div> -->

							{% if entities is empty %}
								<p>There are currently no reports available for download.
								{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
									<a href="{{ path('document') }}">Upload Reports</a>
								{% endif %}
								</p>
							{% else %}			

							<div class="filter report-tab">
								<div class="filter report-tab visible-xs relative">
		<!-- Nav tabs -->
		<div class="feedback-tab">
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#national" class="national" aria-controls="national" role="tab" data-toggle="tab">National Reports</a></li>	    
		    <li role="presentation" class="dropdown district-text-parent">
			    <a class="district-text dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			      District Reports <!-- <span class="caret"></span> -->
			    </a>
			    <ul class="dropdown-menu">
			      <li role="presentation"><a href="#district" class="show-eng-text" aria-controls="district" role="tab" data-toggle="tab">English</a></li>
			      <li role="presentation"><a href="#district-nep" class="show-nep-text" aria-controls="district" role="tab" data-toggle="tab">Nepali</a></li>
			    </ul>
			  </li>
		    <li role="presentation"><a href="#issue" class="issue" aria-controls="issue" role="tab" data-toggle="tab">Issue in Focus Reports</a></li>						
		    <li role="presentation"><a href="#others" class="others" aria-controls="others" role="tab" data-toggle="tab">Others</a></li>
		  </ul>
		</div>

		<ul class="tab-view">
			<li class="show-grid-view"><a href="#!">Grid View</a></li>
			<li class="show-list-view"><a href="#!">List View</a></li>
		</ul>

		</div>

							  <!-- Tab panes -->
							  <div class="tab-content clearfix list-view">
							    <div role="tabpanel" class="tab-pane active" id="national">							    	
										{% for entity in entities %}
											{# TODO: need to change 'National Reports' to ID #}
											{% if entity.documenttype == 'National Reports' %}
											<div class="report-item col-lg-6 col-md-6 col-sm-6 month {{ entity.date | date('m') }} {{ entity.date | date('Y') }} {{ entity.date | date('m') }}-{{ entity.date | date('Y') }} type {{ entity.documenttype }}">
												<div class="r-box">
													<a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="report-link">
														<img src="/img/frontend/report-thumb.jpg" alt="">
														<span class="reports-overlay">
															<span class="reports-overlay-table">
																<span class="reports-name">{{ entity.name }}</span>
															</span>
														</span>
													</a>
											
													<ul class="share-icons">
														<li><a href="#share" class="fa fa-share-alt"></a>
															<ul>		
																{# TODO: Need to change cfp.org.np to dynamic url path if needed #}						
																<li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
																
																<li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+{{ entity.name|replace({' ': '+'}) }}+http%3A%2F%2Fcfp.org.np/uploads/documents/{{ entity.path|replace({' ': '%20'}) }}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

																<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
															</ul>
														</li>
														<li><a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="fa fa-download"></a></li>
													</ul>
												</div>
											</div>
											{% endif %}
						        {% endfor %}
							    </div>

							    <div role="tabpanel" class="tab-pane" id="district">
							    	{# only english reports here #}
  									{% for entity in entities %}
										{# TODO: need to change 'District Reports' to ID #}
										{# Quickfix: Added district name as class #}
										{% if (entity.documenttype == 'District Reports') and ((entity.language == 'english') or (entity.language == '')) %}
										<div class="report-item col-lg-6 col-md-6 col-sm-6 type {{ entity.documenttype }} district {% if ('Bhaktapur' in entity.district) or ('Bhaktapur' in entity.path) %} Bhaktapur {% elseif ('Dhading' in entity.district) or ('Dhading' in entity.path) %} Dhading {% elseif ('Dolakha' in entity.district) or ('Dolakha' in entity.path) %} Dolakha {% elseif ('Gorkha' in entity.district) or ('Gorkha' in entity.path) %} Gorkha {% elseif ('Kathmandu' in entity.district) or ('Kathmandu' in entity.path) %} Kathmandu {% elseif ('Kavrepalanchowk' in entity.district) or ('Kavrepalanchok' in entity.path) or ('Kavrepalanchowk' in entity.path) %} Kavrepalanchok {% elseif ('Lalitpur' in entity.district) or ('Lalitpur' in entity.path) %} Lalitpur {% elseif ('Makwanpur' in entity.district) or ('Makwanpur' in entity.path) %} Makwanpur {% elseif ('Nuwakot' in entity.district) or ('Nuwakot' in entity.path) %} Nuwakot {% elseif ('Okhaldhunga' in entity.district) or ('Okhaldhunga' in entity.path) %} Okhaldhunga {% elseif ('Ramechhap' in entity.district) or ('Ramechhap' in entity.path) %} Ramechhap {% elseif ('Rasuwa' in entity.district) or ('Rasuwa' in entity.path) %} Rasuwa {% elseif ('Sindhuli' in entity.district) or ('Sindhuli' in entity.path) %} Sindhuli {% elseif ('Sindhupalchowk' in entity.district) or ('Sindhupalchowk' in entity.path) or ('Sindhupalchok' in entity.path) or ('SIndhupalchowk' in entity.path) %} Sindhupalchowk {% endif %} {{ entity.date | date('Y') }}">
											<div class="r-box">
												<a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="report-link">
														<img src="/img/frontend/report-thumb.jpg" alt="">
														<span class="reports-overlay">
															<span class="reports-overlay-table">
																<span class="reports-name">{{ entity.name }}</span>
															</span>
														</span>
												</a>
										
												<ul class="share-icons">
													<li><a href="#share" class="fa fa-share-alt"></a>
														<ul>		
																{# TODO: Need to change cfp.org.np to dynamic url path #}											
																<li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
																
																<li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+{{ entity.name|replace({' ': '+'}) }}+http%3A%2F%2Fcfp.org.np/uploads/documents/{{ entity.path|replace({' ': '+'}) }}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

																<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common+Feedback+Project+(CFP)+Report%3A%20{{ entity.name }}&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
															</ul>
													</li>
													<li><a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="fa fa-download"></a></li>
												</ul>
											</div>
										</div>
										{% endif %}
						        {% endfor %}
						        <div class="clear"></div>
							    </div>

							    <div role="tabpanel" class="tab-pane" id="district-nep">
							    	{# TODO: need to show only nepali reports here #}
  									{% for entity in entities %}
										{# TODO: need to change 'District Reports' to ID #}
										{% if (entity.documenttype == 'District Reports') and (entity.language == 'nepali') %}
										<div class="report-item col-lg-6 col-md-6 col-sm-6 type {{ entity.documenttype }} district {% if ('Bhaktapur' in entity.district) or ('Bhaktapur' in entity.path) %} Bhaktapur {% elseif ('Dhading' in entity.district) or ('Dhading' in entity.path) %} Dhading {% elseif ('Dolakha' in entity.district) or ('Dolakha' in entity.path) %} Dolakha {% elseif ('Gorkha' in entity.district) or ('Gorkha' in entity.path) %} Gorkha {% elseif ('Kathmandu' in entity.district) or ('Kathmandu' in entity.path) %} Kathmandu {% elseif ('Kavrepalanchowk' in entity.district) or ('Kavrepalanchok' in entity.path) or ('Kavrepalanchowk' in entity.path) %} Kavrepalanchok {% elseif ('Lalitpur' in entity.district) or ('Lalitpur' in entity.path) %} Lalitpur {% elseif ('Makwanpur' in entity.district) or ('Makwanpur' in entity.path) %} Makwanpur {% elseif ('Nuwakot' in entity.district) or ('Nuwakot' in entity.path) %} Nuwakot {% elseif ('Okhaldhunga' in entity.district) or ('Okhaldhunga' in entity.path) %} Okhaldhunga {% elseif ('Ramechhap' in entity.district) or ('Ramechhap' in entity.path) %} Ramechhap {% elseif ('Rasuwa' in entity.district) or ('Rasuwa' in entity.path) %} Rasuwa {% elseif ('Sindhuli' in entity.district) or ('Sindhuli' in entity.path) %} Sindhuli {% elseif ('Sindhupalchowk' in entity.district) or ('Sindhupalchowk' in entity.path) or ('Sindhupalchok' in entity.path) or ('SIndhupalchowk' in entity.path) %} Sindhupalchowk {% endif %} {{ entity.date | date('Y') }}">
											<div class="r-box">
												<a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="report-link">
														<img src="/img/frontend/report-thumb.jpg" alt="">
														<span class="reports-overlay">
															<span class="reports-overlay-table">
																<span class="reports-name">{{ entity.name }}</span>
															</span>
														</span>
												</a>
										
												<ul class="share-icons">
													<li><a href="#share" class="fa fa-share-alt"></a>
														<ul>		
																{# TODO: Need to change cfp.org.np to dynamic url path #}											
																<li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
																
																<li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+{{ entity.name|replace({' ': '+'}) }}+http%3A%2F%2Fcfp.org.np/uploads/documents/{{ entity.path|replace({' ': '+'}) }}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

																<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common+Feedback+Project+(CFP)+Report%3A%20{{ entity.name }}&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
															</ul>
													</li>
													<li><a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="fa fa-download"></a></li>
												</ul>
											</div>
										</div>
										{% endif %}
						        {% endfor %}
						        <div class="clear"></div>
							    </div>

							    <div role="tabpanel" class="tab-pane" id="issue">
							    	{% for entity in entities %}
										{# TODO: need to change 'Issue in Focus Reports' to ID #}
										{% if entity.documenttype == 'Issue in Focus Reports' %}
										<div class="report-item col-lg-6 col-md-6 col-sm-6 month {{ entity.date | date('m') }} {{ entity.date | date('Y') }} {{ entity.date | date('m') }}-{{ entity.date | date('Y') }} type {{ entity.documenttype }}">
											<div class="r-box">
												<a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="report-link">
														<img src="/img/frontend/report-thumb.jpg" alt="">
														<span class="reports-overlay">
															<span class="reports-overlay-table">
																<span class="reports-name">{{ entity.name }}</span>
															</span>
														</span>
												</a>
										
												<ul class="share-icons">
													<li><a href="#share" class="fa fa-share-alt"></a>
														<ul>		
																{# TODO: Need to change cfp.org.np to dynamic url path #}											
																<li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
																
																<li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+{{ entity.name|replace({' ': '+'}) }}+http%3A%2F%2Fcfp.org.np/uploads/documents/{{ entity.path|replace({' ': '+'}) }}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

																<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
															</ul>
													</li>
													<li><a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="fa fa-download"></a></li>
												</ul>
											</div>
										</div>
										{% endif %}
				        		{% endfor %}
							    </div>
							    <div role="tabpanel" class="tab-pane" id="others">
							    	{% for entity in entities %}
										{# TODO: need to change these to ID #}
										{% if (entity.documenttype != 'National Reports') and (entity.documenttype != 'District Reports') and (entity.documenttype != 'Issue in Focus Reports') %}
										<div class="report-item col-lg-6 col-md-6 col-sm-6 month {{ entity.date | date('m') }} {{ entity.date | date('Y') }} {{ entity.date | date('m') }}-{{ entity.date | date('Y') }} type {{ entity.documenttype }}">
											<div class="r-box">
												<a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="report-link">
														<img src="/img/frontend/report-thumb.jpg" alt="">
														<span class="reports-overlay">
															<span class="reports-overlay-table">
																<span class="reports-name">{{ entity.name }}</span>
															</span>
														</span>
												</a>
										
												<ul class="share-icons">
													<li><a href="#share" class="fa fa-share-alt"></a>
														<ul>		
																{# TODO: Need to change cfp.org.np to dynamic url path #}											
																<li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}" title="Share on Facebook" class="fa fa-facebook" target="_blank"></a></li>
																
																<li><a href="http://twitter.com/intent/tweet?text=Common+Feedback+Project+(CFP)+Report%3A+{{ entity.name|replace({' ': '+'}) }}+http%3A%2F%2Fcfp.org.np/uploads/documents/{{ entity.path|replace({' ': '+'}) }}" title="Share on Twitter" class="fa fa-twitter" target="_blank"></a></li>

																<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//cfp.org.np/uploads/documents/{{ entity.path }}&title=Common%20Feedback%20Project%20(CFP)%20Report%3A%20{{ entity.name }}&summary=&source=" title="Share on LinkedIn" class="fa fa-linkedin" target="_blank"></a></li>
															</ul>
													</li>
													<li><a href="{{ entity.file_path }}{{ entity.path }}" title="Download: {{ entity.name }} - {{ entity.date | date('Y-M-d') }}" class="fa fa-download"></a></li>
												</ul>
											</div>
										</div>
										{% endif %}
					        	{% endfor %}
							    </div>
							  </div>

							</div>

							{% endif %}
						</div>
					</div>
				</div><!-- /.main-content -->
			</div>
		</div>
	</section>
{% endblock %}

{% block scriptIncludes %}
<script>
	$(document).ready(function() {
		var winWidth = $(window).width();

		//district tab width
		function district_tab_width() {			
			var district_text_width = $('.district-text-parent').width()+1;
			$('.filter.report-tab .district-text-parent .dropdown-menu').css({
				'min-width': district_text_width+'px',
			});
		}

		if(winWidth > 992) {
			//district text change
			$('.show-eng-text').click(function() {
				$('.district-text').text('District Reports / English');
				district_tab_width();
			});
			$('.show-nep-text').click(function() {
				$('.district-text').text('District Reports / Nepali');
				district_tab_width();
			});
		}//end if
		
		$('.report-tab .nav-tabs a.national, .report-tab .nav-tabs a.issue, .report-tab .nav-tabs a.others').click(function () {
			//console.log($(this));			
			$('.district-text').text('District Reports');
			// $('aside .feedback-tab .nav-tabs').css({'opacity': '1'});

			district_tab_width();

			$('.ac-month').show();
			$('.ac-district').hide();
		});

		$('.show-eng-text, .show-nep-text').click(function() {
			// $('aside .feedback-tab .nav-tabs').css({'opacity': '0'});
			//no seperate function for 2015, 2016 in case of district reports
			//there should be 2015, 2016

			$('.ac-month').hide();
			$('.ac-district').show();
		});


		//show more report: removed this functionality from district tab
		/*function show_more(show, showme) {
			$(show).click(function() {
				$(showme).toggleClass('show');

				if($(showme).hasClass('show')) {
					$(showme).show();
					$(show).text('Show Less');
				} else {
					$(showme).hide();
					$(show).text('Show More');
				}
			});
		}
		show_more('.show-more-report', '.more-report');
		show_more('.show-more-report-nep', '.more-report-nep');*/

		//check all and uncheck all + show and hide all reports at once
		function checkall(show, showme) {
			$(show).change(function(){
	      $(showme).prop('checked', $(this).prop("checked"));
	      if(!$(this).is(':checked')){
	      	$(showme).hide();
	      }
	      else {
	      	$(showme).show();
	      }
	    });	
		}
		checkall("#monthall-2015", ".month.2015");
		checkall("#monthall-2016", ".month.2016");

		function show_2016() {
			$('#monthall-2016, .month.2016').prop('checked', true);//check all on document load
			$('.2016').show();//.month.2016
			
			//initially hide that of 2015
			$('.2015').hide();//.month.2015
		}
		function show_2015() {
			$('#monthall-2015, .month.2015').prop('checked', true);//check all on document load
			$('.2015').show();//.month.2015

			//initially hide that of 2016
			$('.2016').hide();//.month.2016
		}

		show_2016();

		$('.tab-2015').click(function() {
			show_2015();
		});
		$('.tab-2016').click(function() {
			show_2016();
		});


		
		checkall("#districtall", ".district");
		$('#districtall, .district').prop('checked', true);//check all on document load

		//show reports month wise individually
		function filter_report(month) {
			$('#month-wise-report #month'+month).change(function(){
				/*$('.month').hide();
	      $('.month.'+month).show();*/
	      
	      //$('.month').hide();

	      /* 2015 - 2016 */
	      var hide_report;
	      if( $(this).hasClass('2015') ) {
	      	hide_report = '2016';
	      } 
	      if( $(this).hasClass('2016') ) {
	      	hide_report = '2015';
	      }

	      if(!$(this).is(':checked')){//not checked
	      	// console.log( hide_report );
	      	$('.month.'+hide_report).hide();

	      	$('.month.'+month).hide();
	      } else {
	      	// console.log( hide_report );
	      	$('.month.'+hide_report).hide();

	      	$('.month.'+month).show();
	      }
	    });
    }
    filter_report('07-2015');
    filter_report('08-2015');
    filter_report('09-2015');
    filter_report('10-2015');
    filter_report('11-2015');
    filter_report('12-2015');

    filter_report('01-2016');
    filter_report('02-2016');
    filter_report('03-2016');
    filter_report('04-2016');
    filter_report('05-2016');
    filter_report('06-2016');
    filter_report('07-2016');
    filter_report('08-2016');
    filter_report('09-2016');
    filter_report('10-2016');
    filter_report('11-2016');
    filter_report('12-2016');

    //show reports district wise
		function filter_report_district(district) {
			$('#district-wise-report #district-'+district).change(function(){
	      if(!$(this).is(':checked')){
	      	$('.district.'+district).hide();	
	      	if(district == 'Kavrepalanchowk') {
	      		$('.district.Kavrepalanchok').hide();	
	      	}
	      	if(district == 'Sindhupalchowk') {
	      		$('.district.Sindhupalchok').hide();	
	      		$('.district.SIndhupalchowk').hide();	
	      	}
	      } else {
	      	$('.district.'+district).show();
	      	if(district == 'Kavrepalanchowk') {
	      		$('.district.Kavrepalanchok').show();	
	      	}
	      	if(district == 'Sindhupalchowk') {
	      		$('.district.Sindhupalchok').show();	
	      		$('.district.SIndhupalchowk').show();	
	      	}
	      }
	    });
    }
    filter_report_district('Bhaktapur');
    filter_report_district('Dhading');
    filter_report_district('Dolakha');
    filter_report_district('Gorkha');
    filter_report_district('Kathmandu');
    filter_report_district('Kavrepalanchowk');
    filter_report_district('Lalitpur');
    filter_report_district('Makwanpur');
    filter_report_district('Nuwakot');
    filter_report_district('Okhaldhunga');
    filter_report_district('Ramechhap');
    filter_report_district('Rasuwa');
    filter_report_district('Sindhuli');
    filter_report_district('Sindhupalchowk');



	  //show list view
	  $('.show-list-view').click(function() {	  	
	  	if($('.report-item').hasClass('col-lg-2 col-md-3 col-sm-4')) {	  		
	  		$('.report-item').removeClass('col-lg-2 col-md-3 col-sm-4');
	  	}

	  	if($('.report-item').hasClass('col-lg-6 col-md-6 col-sm-6')) {
	  	}
	  	else {
	  		$('.report-item').addClass('col-lg-6 col-md-6 col-sm-6');
	  	}

	  	if($('.main-content .tab-content').hasClass('grid-view')) {
	    	$('.main-content .tab-content').removeClass('grid-view');
	    }
	  	if($('.main-content .tab-content').hasClass('list-view')) {
	  	} 
	  	else {
	    	$('.main-content .tab-content').addClass('list-view');
	    }
	  });

	  $('.show-grid-view').click(function() {
	  	if($('.report-item').hasClass('col-lg-6 col-md-6 col-sm-6')) {	  		
	  		$('.report-item').removeClass('col-lg-6 col-md-6 col-sm-6');
	  	}
	  	
	  	if($('.report-item').hasClass('col-lg-2 col-md-3 col-sm-4')) {
	  	}
	  	else {
	  		$('.report-item').addClass('col-lg-2 col-md-3 col-sm-4');
	  	}

	  	if($('.main-content .tab-content').hasClass('list-view')) {
	    	$('.main-content .tab-content').removeClass('list-view');
	    }

	  	if($('.main-content .tab-content').hasClass('grid-view')) {
	  	} 
	  	else {
	    	$('.main-content .tab-content').addClass('grid-view');
	    }
	  });

		content_height();
	});
	$(window).resize(function() {
		content_height();
	});
	function content_height() {
		if(winWidth >= 768) {
			var winHeight = $(window).height();
			var content_height = winHeight - 100 - 40 - 42;
			$('.content, .main-content').css({'min-height': content_height+'px'});
		}
	}
</script>
{% endblock %}
